services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - images_data:/app/uploads
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - DB_HOST=172.17.0.1
      - DB_PORT=5432
      - DB_NAME=unishop_db
      - DB_USERNAME=unishop_user
      - DB_PASSWORD=unishop_password
      - APP_IA_SERVICE_URL=http://172.17.0.1:8000
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/actuator/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

volumes:
  images_data: